<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BLA BLA</title>
    </head>
    <body>
        {{> header}}
        <p>This is the About page</p>

        {{> footer}}
    </body>
</html>